<%= form_for(@author) do |f| %>
<fieldset>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="input-prepend">
      <span class="add-on">ФИО</span>
      <%= f.text_field :name, class: 'prependedInput' %>
    </div>
  </div>
  <div class="field">
    <div class="input-prepend">
      <span class="add-on">Информация</span>
      <%= f.text_field :detail_info, class: 'input-xxlarge prependedInput' %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag 'Отправить', class: "btn btn-primary" %>
    <%= link_to 'Отмена', authors_path, class: "btn" %>
  </div>
</fieldset>
<% end %>
