<div class="page-header">
  <h1>Список авторов</h1>
  <small>
  <ul class="nav nav-pills">
    <li><%= link_to 'Добавить автора', new_author_path %></li>
  </ul>
</small>
</div>

<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Информация</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @authors.each do |author| %>
    <tr>
      <td width="20%"><%= author.name %></td>
      <td><%= author.detail_info %></td>
      <td width="1%">
        <div class="btn-group">
          <%= link_to raw('<i class="icon-align-justify icon-white"></i>'), author, class: 'btn btn-info btn-mini' %>
          <%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_author_path(author),
            class: 'btn btn-warning btn-mini' %>
          <%= link_to raw('<i class="icon-trash icon-white"></i>'), author,
            method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>