<div class="well">
	<p id="notice"><%= notice %></p>
	<p>
	  <b>Name:</b>
	  <i><%= @author.name %></i>
	</p>

	<p>
	  <b>Detail info:</b>
	  <p>
	  	<i><%= @author.detail_info %></i>
	  </p>
	</p>
</div>

<div class="form-actions">
	<%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-warning' %>
	<%= link_to 'Back', authors_path, class: 'btn' %>
</div>
