<%= form_for(@check_text, class: 'form-horizontal') do |f| %>
  <div class="page-header">
    <h1>Проверка текста</h1>
  </div>
  <fieldset>
    <% if @check_text.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@check_text.errors.count, "error") %> prohibited this check_text from being saved:</h2>

        <ul>
        <% @check_text.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text_area :text, class: 'input-block-level' %>
    <div class="form-actions">
      <button type="submit" class="btn btn-block btn-primary">Проверить</button>
    </div>
  </fieldset>
<% end %>
