<p id="notice"><%= @notice %></p>
<% @result.each_index do |id| %>
	<% if !@result[id].nil? %>
		<div class="well well-small">
			<div class="page-header">
				<h4><%= LocalText.find(id).title %></h4>
				<ul>
					<small class="muted">Автор: <%= Author.find(LocalText.find(id).author_id).name %></small>
					<p class="text-warning">
						Количество совпавших слов: <i><%= @result[id].count %></i>
					</p>
				</ul>
			</div>
			<p>
				<p style="cursor:hand" onClick="expandit(this)">
					<button class="btn btn-block">
						<icon class="icon-resize-full"></icon> Развернуть |
						Свернуть <icon class="icon-resize-small"></icon>
					</button>
				</p>
				<span style="display:none" style=&{head};>
				<%= @light_texts[id].html_safe %>
				</span>
			</p>
		</div>
	<% end %>
<% end %>
<% if !@id_of_max.nil? %>
	<p>
		Наибольшее количество совпадений(<i><%= @result[@id_of_max].size %></i>) с текстом 
		<span class="label label-important"><%= LocalText.find(@id_of_max).title %></span>
	</p>
	<p>
		Вывод: 
		<span class="label label-important"><%= @origin %>% оригинальности</span>
	</p>
<% else %>
	<p>
		<span class="label label-success">Совпадений не обнаружено</span>
	</p>
<% end %>
<p>
	Общее количество слов в проверяемом тексте:
	<span class="label label-info"><%= @total_words %></span>
</p>
<%= link_to "Назад", check_texts_path, class: 'btn' %>