<style type="text/css">
    /** Styling input[type=file] **/
	.btn-file {
		position: relative; overflow: hidden; margin-right: 4px;
	}
	.btn-file input {
		position: absolute; top: 0; right: 0; margin: 0; opacity: 0; filter: alpha(opacity=0);
	    transform: translate(-300px, 0) scale(4); font-size: 23px; direction: ltr; cursor: pointer;
	}
	/* Fix for IE 7: */
	* + html .btn-file { padding: 2px 15px; margin: 1px 0 0 0; }
</style>
<%= form_tag(files_path, multipart: true, class: 'form') do %>
<legend>Выбрать тексты для добавления</legend>
<span class="label label-info"><%= params[:notice] %></span>
	<fieldset>
		<div class="input-append">
			<span class="btn btn-file">
			    <i class="icon-plus"></i><span>Выбрать тексты</span>
			    <%= file_field_tag "files[]", multiple: true %>
			</span>		
			<button type="submit" class="btn btn-success">Далее...</button>
		</div>
	</fieldset>
<% end %>