<%= form_tag(files_path, class: 'form') do %>
	<fieldset>
	  <div class="field">
	    <div class="input-prepend">
	      <span class="add-on">URL</span>
	      <%= text_field_tag :url, nil, class: 'input-xxlarge prependedInput' %>
	    </div>
	  </div>
	  <div class="field">
	    <div class="input-prepend">
	      <span class="add-on">Рега для ссылки подробнее</span>
	      <%= text_field_tag :reg_details, nil, class: 'input-xxlarge prependedInput' %>
	    </div>
	  </div>
	  <div class="field">
	    <div class="input-prepend">
	      <span class="add-on">Рега для заголовка</span>
	      <%= text_field_tag :reg_title, nil, class: 'input-xxlarge prependedInput' %>
	    </div>
	  </div>
	  <div class="field">
	    <div class="input-prepend">
	      <span class="add-on">Рега для текста</span>
	      <%= text_field_tag :reg_text, nil, class: 'input-xxlarge prependedInput' %>
	    </div>
	  </div>
	  <div class="field">
	    <div class="input-prepend">
	      <span class="add-on">Рега для следующей страницы</span>
	      <%= text_field_tag :reg_pagination, nil, class: 'input-xxlarge prependedInput' %>
	    </div>
	  </div>
	  <div class="field">
	    <div class="input-prepend">
	      <span class="add-on">Максимальное количество статей</span>
	      <%= text_field_tag :art_count, nil, class: 'input-small prependedInput' %>
	    </div>
	  </div>
	  <div class="form-actions">
	    <%= submit_tag 'Начать парсинг', class: "btn btn-primary" %>
	    <%= link_to 'Отмена', local_texts_path, class: "btn" %>
	  </div>
	</fieldset>
<% end %>
