<%= form_for(@local_text) do |f| %>
  <% if @local_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local_text.errors.count, "error") %> prohibited this text from being saved:</h2>

      <ul>
      <% @local_text.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-prepend">
    <div class="field">
      <span class="add-on">Название</span>
      <%= f.text_field :title, class: 'input-xxlarge prependedInput' %>
    </div>
  </div>
  <div class="input-prepend pull-right">
    <div class="field">
      <span class="add-on">Автор</span>
      <%= f.select :author_id, Author.all.map { |e| e = [e.name, e.id] }, class: 'prependedInput' %>
    </div>
  </div>
  <div class="field">
    <%= f.label 'Текст' %>
    <%= f.text_area :text, class: 'input-block-level' %>
  </div>
  <div class="form-actions">
    <%= f.submit 'Добавить', class: "btn btn-primary" %>
    <%= link_to 'Отмена', local_texts_path, class: "btn" %>
  </div>
<% end %>
