<div class="page-header">
<h1>Список текстов</h1>
<small>
  <ul class="nav nav-pills">
    <li><%= link_to 'Добавить текст', new_local_text_path %></li>
    <li><%= link_to "Добавить тексты из файлов", files_path %></li>
    <li><%= link_to "Добыть тексты из интернета", new_files_path %></li>
  </ul>
</small>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Текст</th>
      <th>Автор</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @local_texts.each do |local_text| %>
    <tr>
      <td><%= local_text.title %></td>
      <td><%= truncate(local_text.text, length: 520) %></td>
      <td><%= Author.find(local_text.author_id).name %></td>
      <td width="1%">
        <%= link_to raw('<i class="icon-align-justify icon-white"></i>'), local_text, class: 'btn btn-info btn-mini' %>
        <%= link_to raw('<i class="icon-edit icon-white"></i>'), edit_local_text_path(local_text),
            class: 'btn btn-warning btn-mini' %>
        <%= link_to raw('<i class="icon-trash icon-white"></i>'), local_text,
            method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-mini' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if @local_texts.count > 5 %>
  <ul class="nav nav-pills">
    <li><%= link_to 'Добавить текст', new_local_text_path %></li>
    <li><%= link_to "Добавить тексты из файлов", files_path %></li>
  </ul>
<% end %>