<p id="notice"><%= notice %></p>
<div class="page-header">
    <h1><%= @local_text.title %></h1>
</div>
<div class="well">
<p>
  <%= @local_text.text %>
</p>
<div class="pull-right">Автор: <i><%= Author.find(@local_text.author_id).name %></i></div>
</div>

<div class="form-actions">
	<%= link_to 'Edit', edit_local_text_path(@local_text), class: 'btn btn-warning' %>
	<%= link_to 'Back', local_texts_path, class: 'btn' %>
</div>