/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 //= require "bootstrap-responsive"
 body {
	    padding-top: 60px;
	    padding-bottom: 40px;
	    margin: 0 auto;
    }
	
    /* footer */

	footer {
	  margin-top: 45px;
	  padding-top: 5px;
	  border-top: 1px solid #eaeaea;
	  color: #999;
	}

	footer a {
	  color: #555;
	}

	footer a:hover {
	  color: #222;
	}

	footer small {
	  float: left;
	}

	footer ul {
	  float: right;
	  list-style: none;
	}

	footer ul li {
	  float: left;
	  margin-left: 10px;
	}